<%= link_to "投稿画面へ", new_user_path %>
<% @users.each do |user| %>
  <p>
    <%= user.name %>
    <%= user.age %>
    <!-- 以下のコードを追加 -->
    <%= link_to "削除", user_path(user), method: :delete, data: {confirm: "削除しますか?"} %>
  </p>
<% end %>
