<%= form_for @user, url: users_path, html: { method: :post } do |f| %>
  <p>新規登録</p>
  <p>お名前：<%= f.text_field :name %></p>
  <p>年齢：<%= f.text_field :age %></p>
  <input type="submit" value="送信" >
<% end %>
